name: Workflow Name

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  testing:             # job name
    runs-on: ubuntu-latest  # runner
    


    steps:                # all steps go under here
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'  

      - name: Install Application level Dependencies
        run: |
           yarn install  
      - name: Run unit tests
        run: |
           yarn run test    

   builds:
    needs: testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'  

      - name: Install Application level Dependencies
        run: |
           yarn install  
      - name: Build Application
        run: |
           yarn run build  

      deploy:
    needs: builds
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

         

      - name: Install Application level Dependencies
        run: |
           yarn install  
      - name: Deploy Application
        run: |
           pm2 delete "node-app" || true
           pm2 start "yarn run start" --name "node-app"
