- name: Load Node & tools
  shell: bash
  run: |
    export NVM_DIR="$HOME/.nvm"
    . "$NVM_DIR/nvm.sh"
    nvm use 20
    node -v
    yarn -v
    pm2 -v

- name: Install dependencies
  shell: bash
  run: |
    export NVM_DIR="$HOME/.nvm"
    . "$NVM_DIR/nvm.sh"
    nvm use 20
    yarn install
