name: Workflow file for CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deployment:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install application dependencies
        shell: bash
        run: |
          yarn install

      - name: Delete PM2 process if exists
        shell: bash
        run: |
          pm2 delete node-js || true

      - name: Start the application
        shell: bash
        run: |
          pm2 start "yarn serve" --name "node-js"
          pm2 save
