name :Workflow file for CI/CD


on:
  push:
    branches:
      -main
  pull_request:
    branches:
      -main

jobs:
    deplyment:
     runs-on: self-hosted

     steps:
       -name: Checkout code
        uses: actions/checkout@v2

       -name: Install  Application level dependencies
        run: |
          yarn install
        
        -name: Delete if process exists
        run: |
        pm2 delete node-js || true

        -name start the application
        run: |
          pm2 start "yarn serve" --name="node-js"
         
          