name: Workflow Name

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deployment:             # job name
    runs-on: self-hosted  # runner

    steps:                # all steps go under here
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Load Node & tools
        shell: bash
        run: |
          export NVM_DIR="$HOME/.nvm"
          . "$NVM_DIR/nvm.sh"
          nvm use 20
          node -v
          yarn -v
          pm2 -v

      - name: Install dependencies
        shell: bash
        run: |
          export NVM_DIR="$HOME/.nvm"
          . "$NVM_DIR/nvm.sh"
          nvm use 20
          yarn install

      - name: Delete PM2 process if exists
        shell: bash
        run: |
          export NVM_DIR="$HOME/.nvm"
          . "$NVM_DIR/nvm.sh"
          nvm use 20
          pm2 delete node-js || true

      - name: Start application
        shell: bash
        run: |
          export NVM_DIR="$HOME/.nvm"
          . "$NVM_DIR/nvm.sh"
          nvm use 20
          pm2 start "yarn serve" --name node-js
          pm2 save
 